.gallery__item {
  position: relative;
  height: 0;
  overflow: hidden;
  /*setting padding to make responsive cards*/
  padding-top: calc(361 / 282 * 100%);
  max-width: 282px;
  background-color: #FFF;
  border-radius: 10px;
}

@media screen and (max-width: 990px) {
  .gallery__item {
    max-width: 460px;
  }
}

@media screen and (max-width: 570px){
  .gallery__item {
    max-width: 610px;
    margin-bottom: 20px;
  }

  .gallery__item:last-of-type {
    margin-bottom: 0;
  }
}
