.header__logo {
  margin-bottom: 41px;

  width: 142px;

  transition: opacity .3s ease-in-out;
}

.header__logo:hover {
  opacity: .8;
}

@media screen and (max-width: 715px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 570px) {
  .header__logo {
    width: 104px;
  }
}
