.profile__description {
  margin: 16px 0 0;

  font-style: normal;
  font-weight: normal;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 715px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 570px) {
  .profile__description {
    margin-top: 14px;
    text-align: center;
  }
}
