.popup__form-field {
  margin-top: 54px;
  width: calc(358 / 430 * 100%);
  height: calc(2em - 4px);

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
}

.popup__form-field:nth-of-type(2n) {
  margin-top: 30px;
}
