.popup__form-field {
  margin-top: 54px;
  width: calc(358 / 430 * 100%);

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__form-field:nth-child(2n) {
  margin-top: 30px;
}
