.popup__close-btn {
  display: block;
  position: relative;
  left: 32px;

  width: 32px;
  height: 32px;

  background-size: contain;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  transition: opacity .1s ease-out;
  background: url(../../../images/close-btn.svg);
}

.popup__close-btn:hover {
  opacity: .6;
}
